/*
// Rose Pine Dawn
$fg-light: #575279;
$bg-light: #faf4ed;
$primary-light: #EA9D34;
$secondary-light: #56949F;
$highlight-light: #B4637A;
$link-light: $secondary-light;

// Rose Pine Dark
$fg-dark: #E0DEF4;
$bg-dark: #232136;
$secondary-dark: #F6C177;
$primary-dark: #EB6F92;
$highlight-dark: #C4A7E7;
$link-dark: $primary-dark;
*/

$fg-light: #2e3459;
$bg-light: #fbfcf3;
$primary-light: #7a0076;
$secondary-light: #a94600;
$highlight-light: #c04a77;
$link-light: $primary-light;

$fg-dark: #fbfcf3;
$bg-dark: #232136;
$secondary-dark: #f6c177;
$primary-dark: #da86a1;
$highlight-dark: #b3a1e6;
$link-dark: $primary-dark;