// Rose Pine Dawn
$fg-light: #575279;
$bg-light: #faf4ed;
$primary-light: #EA9D34;
$secondary-light: #56949F;
$highlight-light: #B4637A;
$link-light: $secondary-light;

// Rose Pine Dark
$fg-dark: #E0DEF4;
$bg-dark: #232136;
$primary-dark: #F6C177;
$secondary-dark: #EB6F92;
$highlight-dark: #C4A7E7;
$link-dark: $primary-dark;