<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">

  <meta name="description" content="{{ .Site.Params.Description }}">

  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>

  {{ partial "assets.html" . }}
</head>
<body>
  <header>
    {{ block "header" . }}
      {{ partialCached "nav.html" . }}
    {{ end }}
  </header>

  <main id="main">
    {{ block "main" . }}
    {{ end }}
  </main>

  {{ block "footer" . }}
    {{ partialCached "footer.html" . }}
  {{ end }}
</body>
</html>
