/*
 * Variable declarations
 */

:root {
    --desktop-font-size: 1.2rem/1.5;
    --mobile-font-size: 1rem/1.4;
    --font-weight: 400;

    /* Rose Pine Dawn */
    --fg: #575279;
    --highlight: #B4637A;
    --link: var(--highlight);
    --bg: #faf4ed;
    --primary: #EA9D34;
    --secondary: #56949F;
}

/*
 * Base document styling
 * Global styling classes
 * Default element styles
 */

html, body {
    margin: 0 auto;
    max-width: 75ch;
    padding: 0 0.5rem;

    background-color: var(--bg);
    color: var(--fg);

    font: var(--desktop-font-size) "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: var(--font-weight);

    scroll-behavior: smooth;
}

a {
    color: var(--link);
}

p {
    margin: 2rem 0;
}

.highlight {
    color: var(--highlight);
}

/*
 * Fancy link animation
 */

a.animated {
    all: unset;

    color: var(--link);

    position: relative;
}

a.animated:hover {
    cursor: pointer;
}

a.animated::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0.1rem;
    width: 100%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--primary) 50%, var(--secondary) 50%);
    transition: background-position 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    border-radius: 0.05rem;

}

a.animated:hover::before {
    background-position: -100% 0;
}

/*
 * Jump to top
 */

a.jump-top::before {
    content: "\2191";
}

/*
 * Nav styling
 */

nav.site-nav {
    padding: 0;
    margin: 0;
}

.site-nav-title {
    margin: 0.75em 0;

    font-style: italic;
}

ul.site-nav-ul {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}

li.site-nav-li {
    padding: 0 0.5em;
}

/*
 * Site footer
 */

footer.site-footer {
    margin: 2em 0;
}

/*
 * Summary
 */

.summary {
    margin: 0.5em 0;
}

.summary .summary-title {
    margin-bottom: 1em;
}

/*
 * Subsection list
 */

ul.subsection-list {
    list-style: none;
}

/*
 * Breadcrumbs
 */

ul.breadcrumbs {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: start;
}

ul.breadcrumbs > li {
    padding: 0 0.25em;
}

ul.breadcrumbs > li:not(:first-child)::before {
    content: "\00BB";
}

/*
 * LEAVE AT END
 * Mobile styling
 */

@media screen and (max-width: 75ch) {
    body {
        font-size: var(--mobile-font-size);
        font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    }
}

/*
 * LEAVE AT END
 * Dark mode styling
 */

@media (prefers-color-scheme: dark) {
    :root {
        /* Rose Pine */
        --fg: #E0DEF4;
        --highlight: #C4A7E7;
        --link: var(--highlight);
        --bg: #232136;
        --primary: #F6C177;
        --secondary: #EB6F92;

        /* Lighter font weight is easier on the eyes */
        --font-weight: 300;
    }

    a.animated::before {
        height: 0.05rem;
    }
}
